.hero {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}
/* .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.4);

  z-index: 1;
} */

.hero-image,
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: center;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.hero-text h1 {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  font-size: 96px;
  margin-top: 150px;
  /* padding: 0px 100px; */
  margin-left: 0px;
}

.book-now {
  margin-top: 20px;
  font-weight: 400;
  width: 226px;
  height: 73px;
  background-color: #505e6d;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

@keyframes slideUpFadeIn {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-text h1,
.hero-text .book-now {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUpFadeIn 1s ease-out forwards;
}

.hero-text .book-now {
  animation-delay: 0.5s;
}

@media (max-width: 1200px) {
  .hero-text h1 {
    font-size: 72px;
    margin-top: 187px;
  }

  .book-now {
    width: 200px;
    height: 65px;
    font-size: 22px;
  }

  .hero-text {
    left: 60px;
  }
}

@media (max-width: 992px) {
  .hero{
    height:auto ;
    aspect-ratio: 16/9;
  }
  .hero-image,.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .hero-text h1 {
    font-size: 56px;
    margin-left: 0px;
  }

  .book-now {
    width: 180px;
    height: 60px;
    font-size: 20px;
  }

  .hero-text {
    left: 40px;
  }
}

@media (max-width: 768px) {
  .hero{
    height:auto ;
    aspect-ratio: 16/9;
  }
  .hero-image,.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .hero-text h1 {
    font-size: 42px;
    margin-left: 0px;
  }

  .book-now {
    width: 84px;
    height: 27px;
    font-size: 12px;
    margin-bottom: 40px;

  }

  .hero-text {
    left: 30px;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 100px;
  }

  .book-now {
    width: 84px;
    height: 27px;
    font-size: 12px;
    margin-bottom: 40px;
  }

  .hero-text {
    left: 20px;
    align-items: flex-start;
  }
}
